{% extends 'base.html' %}

{% block title %}
	{{post.title}}
{% endblock%}

{%block content %}
	
<center><div class="post_details">
		<div class="post_info">
			<h1>{{post.title}}</h1>
			<div class="post_detail_meta">
			<p>Author: {{post.author}} | <a href="{% url 'post-edit' post.pk %}"> + Edit Post </a> | <a href="{% url 'post-delete' post.pk%}"> Remove Post</a> 
			</p>

		</div>
		</div>
		
		<p class="post_detail_content">
			{{post.body}}
		</p></center>
		
	</div>
	<div class="row">
			<div class="col-sm-4">
		<div class="card" style="width: 18rem;">
		  <img src="https://images.unsplash.com/photo-1565945987428-4b779b6094c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
		  <div class="card-body">
			
		  </div>
		  </div>
		</div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1477541915273-59a4b030923b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			  
		</div>
		</div>
		</div>
		
		
		<div class="col-sm-4">
		<div class="card" style="width: 18rem;">
		  <img src="https://images.unsplash.com/photo-1507760762330-d3ed96fccf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
		  <div class="card-body">
			
		  </div>
		</div>
		</div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1484848016494-33ad4fc7feef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			
			</div>
		  </div>
		</div>
			<div class="col-sm-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://images.unsplash.com/photo-1532638269484-56c7aba0fe84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			  <div class="card-body">
			  </div>
			</div>
		  </div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1532948862008-483d304b9154?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			</div>
		  </div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
		<div class="card" style="width: 18rem;">
		  <img src="https://images.unsplash.com/photo-1532949403546-461295a8dc79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
		  <div class="card-body">
		   
		  </div>
		  </div>
		</div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1541264519988-f028da6eeed7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			
		</div>
		</div>
		</div>
		
		
		<div class="col-sm-4">
		<div class="card" style="width: 18rem;">
		  <img src="https://images.unsplash.com/photo-1551501329-8bfd123243b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
		  <div class="card-body">
			
		  </div>
		</div>
		</div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1567366010346-ec1646f9c87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			  
			</div>
		  </div>
		</div>
			<div class="col-sm-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://images.unsplash.com/photo-1565562369608-6d93c3aec125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			  <div class="card-body">
			 
			  </div>
			</div>
		  </div>
		  <div class="col-sm-4">
		  <div class="card" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1563752864574-5e1b3deb4052?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
			<div class="card-body">
			  
			</div>
		  </div>
		</div>

{% endblock%}
